body {
    background-image: url("../images/landingPage.jpg");
    background-size: cover;
    height: 100%;
    overflow: visible; 
}

.container {
    background-color: transparent;
    height: 380px;
    margin: 30px  auto;
    width: 960px;
}

h1 {
    color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 30px;
    font-weight: 100;
    margin-left: 20px;
    margin-top: 0px;
    font-size: 30px;
    padding: 20px;
}

a {
    color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight: 100;
    text-decoration: none;
}

a:hover {
    color: #FFB6C1;
}

#nav {
    background-color: transparent;
    color: white;
    margin-top: 10px;
    position: absolute;
    right: 38px;
    top: 20px;
    word-spacing: 38px;
}

.clearfix {
    margin: 20px;
    overflow: auto;
}

.contact-container {
    color: white;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-size: 23px;
    font-weight: 200;
    text-align: center;
}

header {
    background-color: transparent;
    display: flex;
    font-family: Circular, -apple-system, BlinkMacSystemFont, Roboto, Helvetica Neue, sans-serif;
    font-weight: 100;
}

p {
    color: white;
    font-family: 'Arial', 'Helvetica Neue', Helvetica, sans-serif;
    font-weight: 100;
    margin: 20px;
    margin-top: 20px;
}

.portfolioImage {
    height: 150px;
    width: 200px;
}

#wrap-container {
    margin-left: 260px;
    width: 960px;
}

@media only screen and (max-width:980px) {
    #wrap-container {
        margin: auto;
        width: 700px;
    }
}

@media only screen and (max-width:768px) {
    #wrap-container {
        margin: auto;
        width:600px;
    }
    
}

@media only screen and (max-width:640px) {
    #wrap-container {
        margin: auto;
        width:300px;
    }
    #header-h1 {
        width: 100%;
        margin: auto;
    }
   
  nav {
    /* Box-model */
    width: 100%;
    /* Positioning */
    margin: 15px 0;
    /* Typography */
    text-align: center;
  }
    header {
        width:640px;
    }
    
}


